@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  background-color: rgb(204, 204, 154);
  font-family: "Protest Strike", sans-serif;
  letter-spacing: .1em;
}
html,body{
  height : 100%;
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
button{
    margin-top: 4vh;
    margin-left: 2vw;
    padding: .5em;
}